/*------- Intro ------*/

// Particle-js background
.particles-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.intro {
  @include flexCenter(column);
  //position: absolute;
  justify-content: center;
  background-color: $primaryColour;
  color: $thirdColour;
  height: 100vh;
  width: 100%;
}

.intro-text {
  height: 30%;
  background: transparent;
  justify-content: space-around;
  @include flexCenter(column);
}

.intro-title {
  font-weight: 200;
}

.intro-subtitle {
  padding-top: 5rem;
  font-weight: 800;
}

// Arrow
.scroll-down-arrow {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=)
    no-repeat transparent;
  height: 7rem;
  width: 8rem;
  position: relative;
  top: 20%;
  text-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.4);
  animation: fade-downwards 2s ease-in-out infinite;
}

// Navigation bar
nav {
  min-height: 10vh;
  width: 100%;
  @include flexCenter(row);
  position: sticky;
  top: 0;
  background-color: $navColour;
  z-index: 2;
}

// Flags

.flags {
  @include flexCenter(row);
  align-items: unset;
  width: 60vw;
  justify-content: space-around;
}

.flag {
  cursor: pointer;
  border: solid 1px rgba(255, 255, 255, 0.329);
}

// Navigation menu
.nav-links {
  display: none;
  position: absolute;
  right: 0;
  padding-left: 1rem;
  width: 40%;
  min-height: 94vh;
  top: 9.1vh;
  transform: translateX(100%);
  transition: transform 0.7s ease-in;

  & li {
    cursor: pointer;
    font-size: 2rem;
    /*    margin: 0 1rem;
    padding: 1rem; */
    transition: all 0.5s ease;
    position: relative;
    justify-content: space-between;

    & a {
      position: relative;
      transition: all 0.5s ease;
      padding: 0.5rem;

      &:after {
        bottom: 0;
        content: "";
        height: 0.3rem;
        left: 50%;
        position: absolute;
        background: $thirdColour;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }
      &:hover:after {
        width: 100%;
        left: 0;
      }
    }
  }
}

// Burger icon

.burger {
  display: block;
  cursor: pointer;
  flex: 0.5;
}

.burger div {
  width: 2.5rem;
  height: 0.3rem;
  margin: 0.5rem;
  background-color: $thirdColour;
  transition: all 0.3s ease;
}

.hidden {
  display: none;
}

.show {
  display: flex;
}

/*---------- Animations --------*/
.nav-active {
  transform: translateX(0%);
  @include flexCenter(column);
  justify-content: space-around;
  vertical-align: auto;
}

/*animated scroll arrow animation*/

@keyframes fade-downwards {
  0% {
    transform: translateY(-5rem);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(10rem);
    opacity: 0;
  }
}

.toggle {
  & .burger-line-1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  & .burger-line-2 {
    opacity: 0;
  }
  & .burger-line-3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

/*------------- Reponsive ---------*/
// Tablet
@media only screen and (min-width: map-get($breakpoints, tablet)) {
  // Menu toggler
  .burger {
    display: none;
  }

  .nav-links {
    @include flexCenter(row);
    @include initialProperties;
    justify-content: space-around;
    flex: 1 1;

    & .nav-active {
      flex-direction: row;
    }
  }

  .flags {
    width: 40vw;
  }

  // Desktop
  @media screen and (min-width: map-get($breakpoints, desktop)) {
  }
}
